$pd: 40px;
$linear-gradient: linear-gradient(
  90deg,
  rgba(255, 147, 15, 0.4) 0%,
  rgba(239, 118, 13, 0.4) 100%
);

.firstDoc {
  padding: $pd;
  .content {
    padding: 0 0 0 $pd;
  }
  border: 4px solid transparent; /* Mặc định border là trong suốt */
  border-image: $linear-gradient 1;
}
.labelDoc {
  display: flex;
  font-size: 2rem;
  gap: 20px;
  padding: 16px 0;
  margin-top: 50px;
  position: relative;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 12px; /* Bo tròn góc */
  justify-content: center;
  align-items: center;
  p {
    margin-bottom: 0;
  }
  // Lớp phủ tạo hiệu ứng viền với gradient
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px; /* Bo tròn góc cho viền */
    padding: 4px; /* Độ dày của viền */
    background: $linear-gradient;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}
.docWrapper {
  display: grid;
  gap: $pd;
  grid-template-columns: repeat(6, 1fr);
}
