.itemWrapper {
  background: #fff;
  border-radius: 16px;
  padding: 20px 20px;
  width: 100%;
  .showMoreBtn {
    background: var(--button-color);
    width: 100%;
  }
}
.productList {
  .rowCustom {
    --bs-gutter-y: var(--spacing-large);
  }
}
.courseItem {
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  // width: 248px;
  height: auto;
  img {
    border-radius: 12px;
  }
  .shortdesc {
    color: #7c0fd2;
    font-weight: 600 !important;
  }
  .title {
    font-size: 2rem;
  }
  .btn {
    width: 100%;
    border: 1px solid black;
    border-radius: 10000px;
    padding: 10px 20px;
    transition: background 0.3s ease-in;
    cursor: pointer;
    &:hover {
      background: var(--bg-color);
    }
  }
  &:hover {
    border: 1px solid var(--bg-color);
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Thêm box-shadow */
  }
}
