.button{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 166px;
    padding: 14px 20px;
        border-radius: 6px;
    
    img{
        width: 20px;
    }
}