/* Regular */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Regular\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Regular\ Az.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Bold\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Bold\ Az.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Italic\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Italic\ Az.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Bold\ Italic\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Bold\ Italic\ Az.woff2')
      format('woff2');
  font-weight: bold;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Black\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Black\ Az.woff2')
      format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* Black Italic */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Black\ Italic\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Black\ Italic\ Az.woff2')
      format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Medium\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Medium\ Az.woff2')
      format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Medium\ Italic\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Medium\ Italic\ Az.woff2')
      format('woff2');
  font-weight: 500;
  font-style: italic;
}
@import '../GlobalStyles/custombootstrap.scss'; /* Add more variants as needed */
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
:root {
  --linear--border: linear-gradient(to right, #ff930f66 40%, #ef760d66 40%);
  --button-color: #fecd0e;
  --bg-color: #ffca4c;
  --pd: 100px 100px;
  --color-text: #404040;
  --color-text-fade: #737373;
  --spacing-small: 16px;
  --spacing-medium: 24px;
  --spacing-large: 48px;
  --font-size-base: clamp(1rem, calc(-1rem+5vw), 1.6rem);
  --font-size-heading: clamp(4rem, calc(-1rem + 5vw), 4rem); /* Đảm bảo 4rem */
  --font-size-heading2: clamp(3rem, calc(-1rem + 3vw), 3rem); /* Đảm bảo 3rem */
  --size-hd: 160px;
  --section-gap: 100px;
}

section {
  margin-top: var(--section-gap);
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}
h1 {
  font-family: 'SVN-SofiaPro', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-heading);
}
h1 ~ p,
h1 ~ div {
  margin-top: 24px;
}
p {
  font-family: 'SVN-SofiaPro', sans-serif;
  font-weight: normal;
  margin-bottom: 0px;
}
h2 {
  font-size: var(--font-size-heading2);
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'SVN-SofiaPro', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
.react-select__input-container {
  width: 100px;
}
.product_page_swiper {
  .swiper-slide {
    transition: all 0.3s ease; // Hiệu ứng mượt mà khi thay đổi trạng thái

    .description {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
    }
  }

  .swiper-slide-active {
    z-index: 10;

    .description {
      opacity: 1;
      visibility: visible;
    }
  }

  .swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.9); // Thu nhỏ các slide không active
    z-index: 1;
  }
}
