/* Regular */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Regular\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Regular\ Az.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Bold\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Bold\ Az.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Italic\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Italic\ Az.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Bold\ Italic\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Bold\ Italic\ Az.woff2')
      format('woff2');
  font-weight: bold;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Black\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Black\ Az.woff2')
      format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* Black Italic */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Black\ Italic\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Black\ Italic\ Az.woff2')
      format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Medium\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Medium\ Az.woff2')
      format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'SVN-SofiaPro';
  src: url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Medium\ Italic\ Az.woff')
      format('woff'),
    url('../../assets/font/sofia-pro-webfont/Sofia\ Pro\ Medium\ Italic\ Az.woff2')
      format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* Add more variants as needed */
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.row {
  --bs-gutter-x: 32px !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
:root {
  --button-color: #fecd0e;
  --bg-color: #ffca4c;
  --pd: 100px 100px;
  --color-text: #404040;
  --spacing-small: 16px;
  --spacing-medium: 32px;
  --spacing-large: 48px;
  --font-size-base: clamp(1rem, calc(-1rem+5vw), 1.6rem);
  --font-size-heading: clamp(4rem, calc(-1rem + 5vw), 4rem); /* Đảm bảo 4rem */
  --font-size-heading2: clamp(3rem, calc(-1rem + 3vw), 3rem); /* Đảm bảo 3rem */
}
section {
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}
h1 {
  font-family: 'SVN-SofiaPro', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-heading);
}

p {
  font-family: 'SVN-SofiaPro', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: var(--font-size-heading2);
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'SVN-SofiaPro', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
.react-select__input-container {
  width: 100px;
}
