.menu-mobile-container {
  position: fixed;
  max-height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  transition: all 0.5s ease-in;
  &.hidden {
    transform: translateY(-100%); /* Ẩn menu bằng cách trượt lên */
    opacity: 0;
    pointer-events: none;
  }
}
.hd-icon {
  font-size: 2rem;
}
.hamburger {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
  z-index: 100;

  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.3s;
  padding: 20px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 15px 0;

      a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  &.open {
    right: 0;
  }
}
