$pd: 40px;
$gutter: 24px;
$pd-inner: calc(#{$pd} * 2) 0 calc(#{$pd} * 2) 0;
h1 {
  font-size: 40px;
}
.homeBanner {
  padding: $pd 0;
  background: linear-gradient(
    90deg,
    rgba(247, 247, 121, 0.2) 0%,
    rgba(244, 118, 45, 0.2) 100%
  );
  width: 100%;
  height: auto;
  .colLeftWrapper {
    position: relative;
    .shape {
      transform: rotate(90deg);
      position: absolute;
      left: -10rem;

      img {
        border-radius: 0px;
      }
    }
    padding: $pd $pd 0 0;
    .content {
      .textTitle {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);
        h1 {
          line-height: 1.5;
          font-size: 48px;
        }
        .isHighlight {
          background: #fecd0e;
          padding: 10px 5px;
          border-radius: 6px;
        }
      }
    }
    .ctaBtns {
      display: flex;
      .ctaBtn1 {
        color: white;
        background: #dc2626;
        border-radius: 73px;
        padding: 14px 20px;
      }
    }
  }
  .colRightWrapper {
    position: relative;
    img {
      border-radius: 18px;
    }
    .mainImg {
      background: #ffe16f;
      border-radius: 18px;
    }
    .thumbImgs {
      margin-left: $gutter;
      display: flex;
      flex-direction: column;
      gap: $gutter;
      .thumbImg1 {
        width: 60%;
      }
    }
    .shape {
      position: absolute;
      right: 0;
      img {
        border-radius: 0px;
      }
    }
  }
}
.aboutTeacher {
  .title {
    position: relative;
    display: flex;
    align-items: center;
    .yellow {
      color: #fdd42a;
      font-size: 15rem;
      font-weight: bold;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 35%;
      right: 25%;
      transform: translate(-50%, -50%);
      background-image: url('../../assets/image/icons/line.png');
      width: 165px; /* Thiết lập chiều rộng */
      height: 13px; /* Thiết lập chiều cao */
      background-size: cover; /* Hoặc bạn có thể dùng background-size: contain; */
    }
  }
}
.roadMap {
  position: relative;
  .title {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -20%;
      left: 30%;
      transform: translate(-50%, -50%);
      background-image: url('../../assets/image/icons/blueline.png');
      width: 165px; /* Thiết lập chiều rộng */
      height: 13px; /* Thiết lập chiều cao */
      background-size: cover; /* Hoặc bạn có thể dùng background-size: contain; */
    }
  }
  .humanImg {
    margin-top: 100px;
    z-index: 2;
    width: 200px;
    position: relative;
    .arm {
      z-index: -1;
      position: absolute;
      top: -4%;
      right: -19%;
      animation: shake 2s ease-in-out infinite;
    }
  }
  .certify {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 25%;
  }
}
.roadMapImageWrapper {
  display: flex;
  justify-content: space-between;
}
.contact {
  .colImg {
    animation: pop 3s ease-in-out infinite;
  }
  background: var(--bg-color);
  .inner {
    padding: calc(#{$pd} * 2) 0 calc(#{$pd} * 2) 0;
    .colImg {
      width: 45rem;
    }
  }
  .contentWrapper {
    .inner {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-medium);
      .ctaBtn {
        background: #dc2626;
        color: white;
        font-size: 2rem;
        white-space: nowrap;
        padding: 0.5rem 1rem; /* thêm padding để tạo khoảng cách */
        text-align: center; /* căn giữa chữ */
        display: inline-block; /* giúp phần tử co dãn theo nội dung */
        border-radius: 73px; /* nếu cần bo góc */
      }
      .title {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -10%;
          left: 25%;
          transform: translate(-50%, -50%);
          background-image: url('../../assets/image/icons/blackline.png');
          width: 165px; /* Thiết lập chiều rộng */
          height: 13px; /* Thiết lập chiều cao */
          background-size: cover; /* Hoặc bạn có thể dùng background-size: contain; */
        }
      }
    }
  }
}
.courseWrapper {
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -20%;
      left: 35%;
      transform: translate(-50%, -50%);
      background-image: url('../../assets/image/icons/line.png');
      width: 165px; /* Thiết lập chiều rộng */
      height: 13px; /* Thiết lập chiều cao */
      background-size: cover; /* Hoặc bạn có thể dùng background-size: contain; */
    }
  }
  .showAllBtn {
    background: var(--bg-color);
  }
  .uniqueImg {
    position: absolute;
    right: 52%;
    top: -20px;
  }
}
.documentsWrapper {
  .title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .uniqueImg {
    position: absolute;
    right: 52%;
    top: -20px;
  }
}
.reasonWrapper {
  background: #000;
  .inner {
    padding: $pd-inner;
    .title {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -20%;
        right: 20%;
        transform: translate(-50%, -50%);
        background-image: url('../../assets/image/icons/blueline.png');
        width: 165px; /* Thiết lập chiều rộng */
        height: 13px; /* Thiết lập chiều cao */
        background-size: cover; /* Hoặc bạn có thể dùng background-size: contain; */
      }
    }
  }
}

//animation
@keyframes pop {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(6deg);
  }
  70% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(2deg);
  }
}
@import './responsive.module.scss';
