.galleryWrapper {
  position: relative;
  width: 100%;
  max-width: 600px; // theo design
  aspect-ratio: 1 / 1; // giữ khung vuông
  margin: auto;
  /* QUAN TRỌNG: chặn tràn */
}
.item {
  position: absolute;
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
/* Vị trí từng ảnh bằng % → tự co khi responsive */
.item1 {
  top: 5%;
  left: 0%;
  width: 45%;
  height: 15%;
}

.item2 {
  top: 0%;
  left: 50%;
  width: 35%;
  height: 20%;
}

.item3 {
  top: 22%;
  left: 50%;
  width: 25%;
  height: 35%;
}

.item4 {
  top: 22%;
  left: 20%;
  width: 25%;
  height: 25%;
}

.item5 {
  top: 60%;
  left: 15%;
  width: 30%;
  height: 15%;
}

.item6 {
  top: 60%;
  left: 50%;
  width: 25%;
  height: 35%;
}

.item7 {
  top: 60%;
  left: 80%;
  width: 30%;
  height: 20%;
}

.item8 {
  bottom: -10%;
  left: 20%;
  width: 25%;
  height: 25%;
}
.item9 {
  bottom: -10%;
  left: 80%;
  width: 25%;
  height: 25%;
}

.inner {
  .content {
    p {
      font-size: 24px;
    }
    display: flex;
    gap: var(--spacing-large);
    flex-direction: column;
  }
  margin-top: 100px;
  .number {
    color: #dc2626;
  }
}
.studentSec {
  position: relative;
}
.circleDecor {
  position: absolute;
  inset: 0;
  pointer-events: none; // bám full trong StudentSec // để con dùng absolute nếu cần
  > div {
    position: absolute; // tất cả CircleDecor đều định vị tuyệt đối
    &:nth-child(1) {
      top: 0;
      left: 20%;
    }

    &:nth-child(2) {
      top: 20px;
      right: 40px;
    }

    &:nth-child(3) {
      top: 60px;
      right: 100px;
    }

    &:nth-child(4) {
      bottom: 100px;
      left: 120px;
    }

    &:nth-child(5) {
      top: 140px;
      right: 70px;
    }

    &:nth-child(6) {
      top: 180px;
      left: 200px;
    }
  }
}
