.cartOverlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  height: 100vh;
}
.noScroll {
  overflow: hidden;
}
.miniCart {
  .totalPrice {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding-top: 2rem;
  }
  .listOrders {
    height: 70rem;
    overflow-y: auto;
    @media (max-width: 768px) {
      height: 45rem;
      overflow-y: auto;
    }
    @media (min-width: 1200px) {
      height: 50rem;
    }
  }
  .inner {
    .cartItem {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
    .cta {
      background-color: var(--button-color);
      width: 100%;
      margin-top: 20px;
    }
  }
  padding: 20px 20px;
  width: 400px;
  position: fixed;
  z-index: 9999999999999;
  top: 0;
  right: 0;
  background: #fff;
  height: 100vh;
  .header {
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;

    h1 {
      font-weight: 700;
    }
  }
}
