.lessonBanner {
  margin-bottom: 80px;
  background: #fecd0e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  .inner {
    .content {
      text-align: center;
    }
  }
}
.newsItem {
  cursor: pointer;
  border: 1px solid #E4E4E7;
  border-radius: 17px;
  transition: border 0.3s ease-in;
  .content {
    padding: 24px 20px;
    .title{
      font-weight: 700;
      font-size: 2.4rem;
    }
    .btn {
      position: relative;
      padding: 0;
    }
  }
  
}
