.button {
  border-style: none;
  background: transparent;
  font-size: 2rem;
  text-align: center;
  padding: 14px 20px;
  border-radius: 73px;
  a {
    font-weight: 500 !important;
  }
  text-align: center; /* Căn giữa văn bản */
  display: inline-block;
}
