header{
    .topHeader{
        padding: 15px 0;
        background: #000;
        a{
            font-size: 1.8rem;
        }
        .topHeaderLeft,
            .topHeaderRight {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                color: white !important;
                
            }
            .topHeaderIcon{
                img{
                    width: 20px;
                    height: 20px;
                }
                display: flex;
                align-items: center;
               gap: 10px;
            }
    }
    .navBar {
        padding: 24px 0;
            width: 100%;
    
            .inner {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .navLinks {
                    .navLink {
                        margin-left:4rem;
                        font-size: 2rem;  
                        color:#404040;                
                    }    
                }
                .logo {
                    img {
                        object-fit: contain;
                    }
    
                } 
                .buttonCTA {
                    background: var(--button-color);
                  a{
                    font-size: 1.8rem;
                    font-weight: bold;
                  }
                }
            }
            
    
        }
}
